{% extends "shared/base.html" %}

{% block title %}Bucket list{% endblock title %}

{% block content %}
<div class="card border-0 shadow-lg p-1">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Size</th>
            <th scope="col">Download</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
            {% for obj in objects %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ obj.Key }}</td>
                    <td>{{ obj.Size|filesizeformat }}</td>
                    <td>download</td>
                    <td>delete</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}