{% extends "shared/base.html" %}

{% block title %}Bucket list{% endblock title %}

{% block content %}
<div class="card border-0 shadow-lg p-1">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Size</th>
            <th scope="col">Download</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
            {% for obj in objects %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ obj.Key }}</td>
                    <td>{{ obj.Size|filesizeformat }}</td>
                    <td><a href="{% url "home:delete_obj_bucket" obj.Key %}" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Delete</a></td>
                    <td><a href="{% url "home:download_obj_bucket" obj.Key %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Download</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <hr>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>
        <input type="submit" value='Upload' class="btn btn-primary">
    </form>
</div>
{% endblock content %}