{% extends "shared/base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for product in products %}
            <div class="col">
            <div class="card h-100 grid_item shadow-lg">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{{ product.image.url }}" class="card-img-top rounded-pill">
                </a>
                <hr>
                <div class="card-body">
                <p><a href="{{ product.get_absolute_url }}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"><h5 class="card-title">{{ product.name }}</h5></a></p>
                <p class="card-text">{{ product.description|truncatewords:10 }}</p>
                </div>
                <div class="card-footer">
                <small class="text-body-secondary">Last updated : {{ product.updated }}</small>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}