{% extends "shared/base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    <a href="{% url "home:home" %}" class="btn btn-primary">all</a>
    {% for category in categories %}
        <div class="btn-group">
                <a type="button" class="btn btn-danger" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
                </button>
            <ul class="dropdown-menu">
                {% for child in category.children.all %}
                    <li><a class="dropdown-item" href="{{ child.get_absolute_url }}">{{ child.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    <br>
    <hr>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for product in products %}
            <div class="col">
            <div class="card h-100 grid_item shadow-lg">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{{ product.image.url }}" class="card-img-top rounded-pill">
                </a>
                <hr>
                <div class="card-body">
                <p><a href="{{ product.get_absolute_url }}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"><h5 class="card-title">{{ product.name }}</h5></a></p>
                <p class="card-text">{{ product.price }}</p>
                <p class="card-text">{{ product.description|truncatewords:10 }}</p>
                </div>
                <div class="card-footer">
                <small class="text-body-secondary">Last updated : {{ product.updated }}</small>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}